.banner-blog {
    #banner-img {
        background-image: url(../images/banner-blog.jpg);
        background-repeat: no-repeat;
        background-position: 50% 10%;
        height: 250px;
        background-size: cover;

    }
}

.posts {
    .search-box {
            padding:15px;
            margin-top: 5px;
            box-shadow: 0px 1px 1px 1px $custom-color;
            border: 1px solid $custom-color;
    }
    .card{
        .card-body
        {
            
            .card-text{
                white-space: nowrap;
                text-overflow: ellipsis;
                overflow: hidden;
                color: $card-text-color;
            }
        }
    }
}


.form-control{
    &:focus{
        box-shadow: none;
        border: 1px solid $main-color;
    }
}

.social-icons {
    


    
    .social-icon {
        color: $main-color;
        text-decoration: none;
        font-size: 24px;  // Adjust the font size to scale icons
        border: 1px solid $custom-color;
        width: 40px;
        height: 40px;
        display: flex;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        margin: 5px;
        border-radius: 3px;
        transition: background-color 0.3s, border-color 0.3s, transform 0.3s;  // Adding transition for smooth hover effect

        &:hover {
            background-color: $custom-color;  // Changing background color on hover
            border-color: darken($custom-color, 10%);  // Darkening border color on hover
            color: $main-color;  // Changing icon color to white on hover
            transform: scale(1.05);  // Adding a subtle scaling effect on hover
        }
    }
}

